PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=sua_senha
DB_NAME=smartcode
JWT_SECRET=seu_segredo_super_secreto
VITE_API_URL=/api
EMAIL_REMETENTE=gestaoleiteirasmartcow@gmail.com
EMAIL_SENHA_APP=Sm@rtcow2025
EMAIL_SERVICE=Zoho
